.container {
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    

.header {
    min-height:400px;
    background:red;
    grid-column: span 4;
}

.second {
    min-height: 400;
    background: green;
}

.square {
    background:blue;
    width:300px;
    height:300px;
    border:1px solid red;
}